#lyrics {
	text-align: center;
	color: white;
	font-size: 24px;
	font-family: "Comic Sans MS";
	  text-shadow:
  		-1px -1px 0 #000,  
		 1px -1px 0 #000,
    	        -1px 1px 0 #000,
     		 1px 1px 0 #000;
}

h1 {
	text-align: center;
	font-family: "Impact";
	font-size: 72px;
}

video {
	display: block;
	margin: 0 auto;
	border-right: solid;
	border-left: solid;
	border-top: solid;
	border-bottom: solid;
}

body {
	background: green;
}